<div class="container-fluid  normal-scroll" ng-controller="usersController as controller">
    <div class="row content no-print">
        <div class="col-md-10">
            <div class="sidenav-main-title" style="float:none;font-size:20px;margin-top:15px">Users Manager</div>
            <div id="userModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content" style="border-radius: 0;">
                        <div class="modal-header" style="background-color: #222; border-radius: 0; color: #FFF;">
                            <h4 class="modal-title">Add User</h4>
                        </div>
                        <div class="modal-body">
                            <form name="userForm">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group has-feedback" ng-class=" !newUser.uid ? 'has-error':''">
                                            <label for="uid">User ID:</label>&nbsp;
                                            <span ng-show="!newUser.uid" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <input class="form-control" required ng-model="newUser.uid" placeholder="Enter User ID" />
                                            <span ng-show="!newUser.uid" class="help-block">User ID is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="form-group has-feedback" ng-class="!newUser.email ? 'has-error':''">
                                            <label for="email">Email:</label>
                                            <span ng-show="!newUser.email" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <input type="email" class="form-control" required placeholder="Enter Email" ng-model="newUser.email">
                                            <span ng-show="!newUser.email" class="help-block">Email is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback" ng-class="!newUser.firstName ? 'has-error':''">
                                            <label for="email">First name:</label>
                                            <span ng-show="!newUser.firstName" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <input class="form-control" required placeholder="Enter First Name" ng-model="newUser.firstName">
                                            <span ng-show="!newUser.firstName" class="help-block">First Name is Required</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group has-feedback" ng-class="!newUser.lastName ? 'has-error':''">
                                            <label for="email">Last name:</label>
                                            <span ng-show="!newUser.lastName" class="glyphicon glyphicon-warning-sign form-control-feedback"></span>
                                            <input class="form-control" required placeholder="Enter Last Name" ng-model="newUser.lastName" />
                                            <span ng-show="!newUser.lastName" class="help-block">Last Name is Required</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group has-feedback has-feedback col-md-6" ng-class="!newUser.region ? 'has-error':''">
                                        <label>Region:</label>
                                        <span ng-show="!newUser.region" class="glyphicon glyphicon-warning-sign form-control-feedback" style="margin-right:20px"></span>
                                        <select type="text" class="form-control" required ng-model="newUser.region" ng-options="obj.region as obj.region for obj in regions">
                                            <option value="">Select Region</option>
                                        </select>
                                        <span ng-show="!newUser.region" class="help-block">Region is Required</span>
                                    </div>
                                    <div class="form-group has-feedback col-md-6" ng-class="!newUser.role ? 'has-error':''">
                                        <label for="role">Role:</label>
                                        <span ng-show="!newUser.role" class="glyphicon glyphicon-warning-sign form-control-feedback" style="margin-right:20px"></span>
                                        <select type="text" required class="form-control" ng-model="newUser.role" ng-options="obj.role as obj.role for obj in roles">
                                            <option value="">Select Role</option>
                                        </select>
                                        <span ng-show="!newUser.role" class="help-block">Role is Required</span>
                                    </div>
                                </div>
                            </form>
                            <div class="alert alert-danger alert-dismissable form-group" ng-show="failAlert">
                                <button type="button" class="close" ng-click="failAlert= false">×</button>
                                <strong>Failure!</strong> Error.
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" ng-click="saveUser()">Save</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-inline" style="margin-bottom:10px;margin-top:15px">
                <button class="btn btn-outline-primary" ng-click="addUser()">
                    <span class="glyphicon glyphicon-user"></span> Add user
                </button>

                <div class="form-group has-feedback pull-right" style="width:30%">
                    <input class="form-control" style="width:100%" type="text" placeholder="Search" ng-model="search.term" />
                    <i class="glyphicon glyphicon-search form-control-feedback"></i>
                </div>
            </div>
            <script type="text/ng-template" id="idHeader.html">
                    <div class="text-left">
                    ID
                    <div style="width:20px;float:right;display:grid;margin-left:5px;">
                        <span class="glyphicon glyphicon-triangle-top sm-icon" ng-style="{color: activeSort==='EMPLOYEE_IDasc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('EMPLOYEE_ID','asc')"></span>
                        <span class="glyphicon glyphicon-triangle-bottom sm-icon" ng-style="{color: activeSort==='EMPLOYEE_IDdesc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('EMPLOYEE_ID','desc')"></span>
                    </div>
                    <multiselect style="width:20px;float:right" ng-model="fltr_id" ng-change="filterTable(this, 'usersTable', 'EMPLOYEE_ID', this.fltr_id)" options="usersIds"
                    classes-btn="'btn-tbl-filter icon-button glyphicon glyphicon-filter'"  search-limit="300" show-search="true" show-unselect-all="true"
                      tbl-filter="true"></multiselect>
                    </div> 
                </script>
            <script type="text/ng-template" id="nameHeader.html">
                    <div class="text-left">
                    Name
                    <div style="width:20px;float:right;display:grid;margin-left:5px;">
                        <span class="glyphicon glyphicon-triangle-top sm-icon" ng-style="{color: activeSort==='USER_NAMEasc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('USER_NAME','asc')"></span>
                        <span class="glyphicon glyphicon-triangle-bottom sm-icon" ng-style="{color: activeSort==='USER_NAMEdesc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('USER_NAME','desc')"></span>
                    </div>
                    <multiselect style="width:20px;float:right" ng-model="fltr_name" ng-change="filterTable(this, 'usersTable', 'USER_NAME', this.fltr_name)" options="usersNames"
                    classes-btn="'btn-tbl-filter icon-button glyphicon glyphicon-filter'"  search-limit="300" show-search="true" show-unselect-all="true"
                      tbl-filter="true"></multiselect>
                    </div> 
                </script>
            <script type="text/ng-template" id="roleHeader.html">
                    <div class="text-left">
                    Role
                    <div style="width:20px;float:right;display:grid;margin-left:5px;">
                        <span class="glyphicon glyphicon-triangle-top sm-icon" ng-style="{color: activeSort==='ROLEasc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('ROLE','asc')"></span>
                        <span class="glyphicon glyphicon-triangle-bottom sm-icon" ng-style="{color: activeSort==='ROLEdesc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('ROLE','desc')"></span>
                    </div>
                    <multiselect style="width:20px;float:right;margin-left:5px;" ng-model="fltr_role" ng-change="filterTable(this, 'usersTable', 'ROLE', this.fltr_role, 'role')" options="roles"
                      show-search="true" id-prop="role" display-prop="role"  tbl-filter="true"  classes-btn="'btn-tbl-filter icon-button glyphicon glyphicon-filter'"></multiselect>
                </div>
                </script>
            <script type="text/ng-template" id="regionHeader.html">
                    <div class="text-left">
                        Region
                        <div style="width:20px;float:right;display:grid;margin-left:5px;">
                            <span class="glyphicon glyphicon-triangle-top sm-icon" ng-style="{color: activeSort==='REGIONasc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('REGION','asc')"></span>
                            <span class="glyphicon glyphicon-triangle-bottom sm-icon" ng-style="{color: activeSort==='REGIONdesc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('REGION','desc')"></span>
                        </div>
                        <multiselect style="width:20px;float:right" ng-model="fltr_region" ng-change="filterTable(this, 'usersTable', 'REGION', this.fltr_region, 'region')" options="regions"
                        show-search="true" id-prop="region" display-prop="region" tbl-filter="true" classes-btn="'btn-tbl-filter icon-button glyphicon glyphicon-filter'"></multiselect>
                    </div>
                </script>
            <script type="text/ng-template" id="typeHeader.html">
                    <div class="text-left">
                        Type
                        <div style="width:20px;float:right;display:grid;margin-left:5px;">
                            <span class="glyphicon glyphicon-triangle-top sm-icon" ng-style="{color: activeSort==='EMPLOYEE_TYPEasc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('EMPLOYEE_TYPE','asc')"></span>
                            <span class="glyphicon glyphicon-triangle-bottom sm-icon" ng-style="{color: activeSort==='EMPLOYEE_TYPEdesc' ? '#F0AB00':'#FFF'}" ng-click="controller.applySelectedSort('EMPLOYEE_TYPE','desc')"></span>
                        </div>

                        <multiselect style="width:20px;float:right" ng-model="fltr_empType" ng-change="filterTable(this, 'usersTable', 'EMPLOYEE_TYPE', this.fltr_empType, 'employeeType')"
                      options="employeeTypes" show-search="true" id-prop="employeeType" display-prop="employeeType" tbl-filter="true" classes-btn="'btn-tbl-filter icon-button glyphicon glyphicon-filter'"></multiselect>
                    </div>
                </script>
            <table id="usersTable" ng-table="controller.usersTable" class="lg table table-striped-black table-bordered table-responsive"
                show-filter="false" ng-form="controller.form" disable-filter="controller.isAdding" controller-tracked-table="controller.tableTracker">
                <colgroup>
                    <col width="15%" />
                    <col width="45%" />
                    <col width="15%" />
                    <col width="10%" />
                    <col width="10%" />
                    <col width="5%" />
                </colgroup>
                <tbody>
                    <tr ng-form="rowForm" controller-tracked-table-row="row" ng-repeat="user in $data">
                        <td header="'idHeader.html'">
                            <a ng-href="#/usersManager/{{user.EMPLOYEE_ID}}">{{user.EMPLOYEE_ID}}</a>
                        </td>
                        <td header="'nameHeader.html'">
                            <a ng-href="#/usersManager/{{user.EMPLOYEE_ID}}">{{user.USER_NAME}}</a>
                        </td>
                        <td header="'roleHeader.html'">
                            {{user.ROLE}}
                        </td>
                        <td header="'regionHeader.html'">
                            {{user.REGION}}
                        </td>
                        <td header="'typeHeader.html'">
                            {{user.EMPLOYEE_TYPE}}
                        </td>
                        <td title="'Open'" style="text-align:center">
                            <a style="cursor: pointer;" ng-href="#/usersManager/{{user.EMPLOYEE_ID}}">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="form-inline">
                <button class="btn btn-outline-primary" ng-click="addUser()">
                    <span class="glyphicon glyphicon-user"></span> Add user
                </button>
            </div>
        </div>
    </div>
</div>