<div class="container-fluid normal-scroll" ng-controller="aboutController">
    <h2 class="page-header">About This Application</h2>    
    <h5>Hybris BI is an application for generating score cards, managing customer information and reporting.</h5>
    <h5>Using Google Chrome or Mozilla Firefox is highly recommended for this application</h5>
    <br>
    <label> Information on specific pages can be seen by clicking the info button (as shown below) located in the top right corner of each page or top left of the grey side navigation</label>
    <br>
    <button class="icon-button" ng-click="helpBox = !helpBox"><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="About"></span></button>
    <h5></h5>

    
    <h3> Contacts</h3>
    <label> If you have any further questions regarding this application please contact:</label>
    <h5></h5>
    <h5>Milosz Kulasek (milosz.kulasek@sap.com)</h5>
    <h5>Kashif Chaudhry (kashif.chaudhry@sap.com)</h5>   
</div>        
